PAYLOAD_SECRET=
NODE_OPTIONS="--no-deprecation --no-experimental-strip-types"
DATABASE_URL=libsql://trialuxdb-mirkotorrisi.aws-eu-west-1.turso.io
DATABASE_AUTH_TOKEN=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_NAME=dmopu17jp